Importamos las librerias necesarias

In [1]:
import findspark
findspark.init('/opt/spark')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType
from pyspark.sql import Window
import pyspark.sql.functions as F
import numpy as np
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
import time


#path del archivo postgresql-42.1.4.jar
dir = "/Users/jasonsolano/Documents/BigData/BigDataTEC/Clase1/DB/"
spark = SparkSession \
    .builder \
    .appName("Basic JDBC pipeline") \
    .config("spark.driver.extraClassPath", dir+"postgresql-42.1.4.jar") \
    .config("spark.executor.extraClassPath", dir+"postgresql-42.1.4.jar") \
    .getOrCreate()

start = time.time()

Importamos los datos limpios de postgres

In [2]:
df = spark \
    .read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost/ImmoDataBase") \
    .option("user", "postgres") \
    .option("password", "102800") \
    .option("dbtable", "apartmentrentalclean") \
    .load()

df.limit(5).toPandas().head()

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
0,Nordrhein_Westfalen,100.00,central_heating,ONE_YEAR_FREE,False,False,29,3.52,2.4,429.00,...,ground_floor,45329,2.0,0.0,2,False,2,Essen,Karnap,May19
1,Nordrhein_Westfalen,84.00,central_heating,ONE_YEAR_FREE,False,True,4,4.92,2.4,578.00,...,roof_storey,48282,3.0,2.0,3,False,3,Steinfurt_Kreis,Emsdetten,Sep18
2,Nordrhein_Westfalen,115.00,night_storage_heater,ONE_YEAR_FREE,False,False,11,4.69,40.0,365.00,...,roof_storey,46242,3.0,3.0,3,False,2,Bottrop,Lehmkuhle,Sep18
3,Sachsen_Anhalt,33.00,self_contained_central_heating,ONE_YEAR_FREE,False,False,9,0.93,40.0,358.00,...,roof_storey,39218,2.0,0.0,2,False,2,Salzlandkreis,Schönebeck_Elbe,May19
4,Sachsen,169.75,gas_heating,ONE_YEAR_FREE,False,True,9,-1.89,2.4,449.49,...,apartment,9126,2.0,2.0,2,False,2,Chemnitz,Bernsdorf,May19

Se imprime el esquema

In [3]:
df = df.drop('heatingType','firingTypes','yearConstructedRange',"condition")
df.printSchema()

root
 |-- regio1: string (nullable = true)
 |-- serviceCharge: double (nullable = true)
 |-- telekomTvOffer: string (nullable = true)
 |-- newlyConst: boolean (nullable = true)
 |-- balcony: boolean (nullable = true)
 |-- picturecount: integer (nullable = true)
 |-- pricetrend: double (nullable = true)
 |-- telekomUploadSpeed: double (nullable = true)
 |-- totalRent: double (nullable = true)
 |-- hasKitchen: boolean (nullable = true)
 |-- geo_bln: string (nullable = true)
 |-- cellar: boolean (nullable = true)
 |-- baseRent: double (nullable = true)
 |-- livingSpace: double (nullable = true)
 |-- geo_krs: string (nullable = true)
 |-- lift: boolean (nullable = true)
 |-- baseRentRange: integer (nullable = true)
 |-- typeOfFlat: string (nullable = true)
 |-- geo_plz: integer (nullable = true)
 |-- noRooms: double (nullable = true)
 |-- floor: double (nullable = true)
 |-- noRoomsRange: integer (nullable = true)
 |-- garden: boolean (nullable = true)
 |-- livingSpaceRange: integer (nullable = true)
 |-- regio2: string (nullable = true)
 |-- regio3: string (nullable = true)
 |-- date: string (nullable = true)

Creamos la siguiente funcioon para normalizar las columnas numericas

In [4]:
def normalizeColumn(df,listColumnName):
    unlist = udf(lambda x: round(float(list(x)[0]),5), DoubleType())

    for i in listColumnName:
       
        assembler = VectorAssembler(inputCols=[i],outputCol=i+"_Vect")

        scaler = MinMaxScaler(inputCol=i+"_Vect", outputCol=i+"_Scaled")

        pipeline = Pipeline(stages=[assembler, scaler])

        # Fitting pipeline on dataframe
        df = pipeline.fit(df).transform(df).withColumn(i, unlist(i+"_Scaled")).drop(i+"_Vect")
        df = df.drop(i+"_Scaled")
    return df

Probamos la funcion para la normalizacion con solo una columna

Primero vemos la columna serviceCharge sin normalizacion

In [5]:
datasetSize = df.count()

df.groupBy('serviceCharge').count().sort(col("count").desc()).withColumn('perc_of_count_total', (F.col('count') / datasetSize)) \
  .toPandas().head(20)

    serviceCharge  count  perc_of_count_total
0          150.00   9009             0.053431
1          100.00   8066             0.047838
2          200.00   6811             0.040395
3          120.00   6615             0.039233
4          130.00   4809             0.028522
5          140.00   4587             0.027205
6          180.00   4202             0.024922
7           80.00   4148             0.024601
8          110.00   3927             0.023291
9          250.00   3914             0.023213
10          90.00   3878             0.023000
11         160.00   3829             0.022709
12          70.00   3253             0.019293
13         170.00   3041             0.018036
14         151.55   3003             0.017810
15          60.00   2774             0.016452
16           0.00   2448             0.014519
17          50.00   2266             0.013439
18         190.00   2070             0.012277
19         220.00   2022             0.011992

## Aplicamos la normalizacion con la funcion presentada anteriormente

In [6]:
numericColumns = list()
numericColumns.append('serviceCharge')
# df = normalizeColumn(df,numericColumns)

Volvemos a consultar la columna para ver la normalizacion

In [7]:
df.groupBy('serviceCharge').count().sort(col("count").desc()).withColumn('perc_of_count_total', (F.col('count') / datasetSize)) \
  .toPandas().head(20)

    serviceCharge  count  perc_of_count_total
0          150.00   9009             0.053431
1          100.00   8066             0.047838
2          200.00   6811             0.040395
3          120.00   6615             0.039233
4          130.00   4809             0.028522
5          140.00   4587             0.027205
6          180.00   4202             0.024922
7           80.00   4148             0.024601
8          110.00   3927             0.023291
9          250.00   3914             0.023213
10          90.00   3878             0.023000
11         160.00   3829             0.022709
12          70.00   3253             0.019293
13         170.00   3041             0.018036
14         151.55   3003             0.017810
15          60.00   2774             0.016452
16           0.00   2448             0.014519
17          50.00   2266             0.013439
18         190.00   2070             0.012277
19         220.00   2022             0.011992

Una vez que se valida la normalizacion para dichos datos, correspondemos a realizarlo en las demas columnas numericas

# Normalizacion de columnas numericas

In [8]:
# Columnas

columnas = ['picturecount','pricetrend','telekomUploadSpeed','totalRent'
           ,'baseRent','livingSpace','baseRentRange','geo_plz','noRooms','floor','noRoomsRange',
           'livingSpaceRange']

print("Numero de columnas: ",len(columnas))

Numero de columnas:  12

## Aplicamos normalización de columnas

In [9]:
# df = normalizeColumn(df,columnas)

In [10]:
df.select(columnas).toPandas().head()

,picturecount,pricetrend,telekomUploadSpeed,totalRent,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
0,29,3.52,2.4,429.00,329.00,52.21,2,45329,2.0,0.0,2,2
1,4,4.92,2.4,578.00,459.00,75.00,3,48282,3.0,2.0,3,3
2,11,4.69,40.0,365.00,250.00,44.00,1,46242,3.0,3.0,3,2
3,9,0.93,40.0,358.00,207.00,46.00,1,39218,2.0,0.0,2,2
4,9,-1.89,2.4,449.49,279.74,60.55,1,9126,2.0,2.0,2,2

Como se observa, los datos numericos se encuentran normalizados

# Iniciamos con la transformacion de columnas booleansas

In [11]:
booleanColumns = ['newlyConst','balcony','hasKitchen','cellar','lift','garden']

print("Cantidad de columnas Booleanas: ",len(booleanColumns))

Cantidad de columnas Booleanas:  6

Función para remplazar columnas booleanas

In [12]:
def replaceBooleans(df,listColumns):
    for i in listColumns:
        df = df.withColumn(i,F.when((col(i) == True),1).otherwise(0))
    return df

In [13]:
df = replaceBooleans(df,booleanColumns)

Observamos la transformación`

In [14]:
df.select(booleanColumns).toPandas().head()

   newlyConst  balcony  hasKitchen  cellar  lift  garden
0           0        0           0       0     0       0
1           0        1           0       0     0       0
2           0        0           0       0     0       0
3           0        0           0       1     0       0
4           0        1           1       1     0       0

# Remplazamos variables categoricas por OneHotEncoding

Creamos la función para remplazar valores categoricos

In [15]:
def createCategoricalVects(df,columns):
    for i in columns:
        temp_indexer = StringIndexer(inputCol=i, outputCol=i+"_index").fit(df)
        df = temp_indexer.transform(df)
        temp_encoder = OneHotEncoder(inputCol=i+"_index", outputCol=i+"_vec")
        df = temp_encoder.transform(df)
        df = df.drop(i+"_index")
        print("Columna Procesada:",i,"Tammano",df.groupBy(i).count().count())
        df = df.drop(i)
    return df

Dicha función detecta si una columna tiene bastantes categorias para borrarla

Al observar la gran cantidad de columnas que se generan con diferentes datos categoricos, se evalua solo aceptar columnas categoricas con no más de 50 datos categoricos diferentes

In [16]:
def deleteBigColumns(df,columns,limit):
    goodColumns = list()
    for i in columns:
        size = df.groupBy(i).count().count()
        print(i,size)
        if(size > limit):
            print("Columna borrada:",i,"Tamanno:", size) 
            df = df.drop(i)
        else:
            goodColumns.append(i)
    return df,goodColumns

## Procesamos las columnas categoricas

In [17]:
categoryList = ['regio1','geo_bln','geo_krs','typeOfFlat','regio2','regio3','date','telekomTvOffer']
df,categoryList = deleteBigColumns(df,categoryList,0)
print('Procesamiento de las columnas: ')
df = createCategoricalVects(df,categoryList)

regio1 16
Columna borrada: regio1 Tamanno: 16
geo_bln 16
Columna borrada: geo_bln Tamanno: 16
geo_krs 419
Columna borrada: geo_krs Tamanno: 419
typeOfFlat 10
Columna borrada: typeOfFlat Tamanno: 10
regio2 419
Columna borrada: regio2 Tamanno: 419
regio3 7794
Columna borrada: regio3 Tamanno: 7794
date 3
Columna borrada: date Tamanno: 3
telekomTvOffer 3
Columna borrada: telekomTvOffer Tamanno: 3
Procesamiento de las columnas:

## Observamos los nuevos datos categoricos

In [18]:
vectCat = [i+"_vec" for i in categoryList]
df.select(vectCat).show()

++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
++
only showing top 20 rows

# Mostramos la columnas que utilizamos para el training

In [19]:
datasetColumns = df.columns
datasetColumns.remove('totalRent')
print(datasetColumns)

['serviceCharge', 'newlyConst', 'balcony', 'picturecount', 'pricetrend', 'telekomUploadSpeed', 'hasKitchen', 'cellar', 'baseRent', 'livingSpace', 'lift', 'baseRentRange', 'geo_plz', 'noRooms', 'floor', 'noRoomsRange', 'garden', 'livingSpaceRange']

In [20]:
df.select(datasetColumns).show()

+-------------+----------+-------+------------+----------+------------------+----------+------+--------+-----------+----+-------------+-------+-------+-----+------------+------+----------------+
|serviceCharge|newlyConst|balcony|picturecount|pricetrend|telekomUploadSpeed|hasKitchen|cellar|baseRent|livingSpace|lift|baseRentRange|geo_plz|noRooms|floor|noRoomsRange|garden|livingSpaceRange|
+-------------+----------+-------+------------+----------+------------------+----------+------+--------+-----------+----+-------------+-------+-------+-----+------------+------+----------------+
|        100.0|         0|      0|          29|      3.52|               2.4|         0|     0|   329.0|      52.21|   0|            2|  45329|    2.0|  0.0|           2|     0|               2|
|         84.0|         0|      1|           4|      4.92|               2.4|         0|     0|   459.0|       75.0|   0|            3|  48282|    3.0|  2.0|           3|     0|               3|
|        115.0|         0|      0|          11|      4.69|              40.0|         0|     0|   250.0|       44.0|   0|            1|  46242|    3.0|  3.0|           3|     0|               2|
|         33.0|         0|      0|           9|      0.93|              40.0|         0|     1|   207.0|       46.0|   0|            1|  39218|    2.0|  0.0|           2|     0|               2|
|       169.75|         0|      1|           9|     -1.89|               2.4|         1|     1|  279.74|      60.55|   0|            1|   9126|    2.0|  2.0|           2|     0|               2|
|        138.0|         0|      0|           8|      1.92|              40.0|         0|     1|   270.0|       50.0|   0|            1|  45888|    2.0|  0.0|           2|     0|               2|
|        68.63|         0|      1|          10|      1.32|              40.0|         0|     1|  270.56|      56.25|   0|            1|   6124|    3.0|  1.0|           3|     0|               2|
|         85.5|         0|      1|           1|      5.51|              40.0|         0|     0|   247.0|       38.0|   0|            1|   4299|    1.0|  1.0|           1|     0|               1|
|        118.0|         0|      0|           4|      3.49|              40.0|         0|     1|  320.95|       55.0|   0|            2|  46145|    2.5|  1.0|           2|     0|               2|
|        225.0|         0|      1|          13|      6.93|              40.0|         1|     1|   800.0|       82.0|   0|            5|  22049|    2.0|  1.0|           2|     0|               4|
|         90.0|         0|      0|           6|      5.08|               2.4|         0|     0|   294.0|       54.0|   0|            1|  25524|    2.0|  2.0|           2|     0|               2|
|        200.0|         0|      1|           6|      3.78|              40.0|         0|     1|   860.0|       90.0|   1|            6|  56068|    3.0|  3.0|           3|     0|               4|
|         80.0|         0|      1|          14|      2.81|               2.4|         0|     1|   350.0|       70.0|   0|            2|   8645|    4.0|  3.0|           4|     0|               3|
|        150.0|         0|      1|          10|      1.95|              40.0|         0|     0|   340.0|       66.0|   1|            2|  47259|    2.0|  2.0|           2|     0|               3|
|         78.8|         0|      0|           5|      1.79|              40.0|         0|     0|   271.2|      54.24|   1|            1|  45886|    2.0|  3.0|           2|     0|               2|
|        210.0|         0|      1|          19|      5.06|              40.0|         1|     1|   925.0|       96.9|   1|            6|  85368|    4.0|  4.0|           4|     0|               4|
|         77.0|         0|      0|           3|      1.89|              40.0|         0|     1|   258.0|       59.2|   0|            1|   9366|    3.0|  2.0|           3|     0|               2|
|        140.0|         0|      1|          16|      0.19|              40.0|         1|     1|   345.0|       60.0|   1|            2|   9125|    2.0|  1.0|           2|     0|               2|
|        219.1|         0|      1|           8|      1.61|              10.0|         1|     0| 1068.11|      110.0|   1|            7|  66538|    3.0|  1.0|           3|     0|               5|
|        120.0|         0|      1|           4|      1.11|              40.0|         0|     1|   300.0|       52.0|   0|            1|   1809|    1.0|  2.0|           1|     0|               2|
+-------------+----------+-------+------------+----------+------------------+----------+------+--------+-----------+----+-------------+-------+-------+-----+------------+------+----------------+
only showing top 20 rows

# Creamos la columna features

In [21]:
df_assembler = VectorAssembler(inputCols = datasetColumns,outputCol="features")
df = df_assembler.transform(df)
df = df.select(['features','totalRent'])

In [22]:
df = df.withColumnRenamed('totalRent','label')

In [23]:

df.select(['features','label']).show()

+--------------------+-------+
|            features|  label|
+--------------------+-------+
|[100.0,0.0,0.0,29...|  429.0|
|[84.0,0.0,1.0,4.0...|  578.0|
|[115.0,0.0,0.0,11...|  365.0|
|[33.0,0.0,0.0,9.0...|  358.0|
|[169.75,0.0,1.0,9...| 449.49|
|[138.0,0.0,0.0,8....|  493.0|
|[68.63,0.0,1.0,10...| 434.82|
|[85.5,0.0,1.0,1.0...|  332.5|
|[118.0,0.0,0.0,4....| 503.95|
|[225.0,0.0,1.0,13...| 1025.0|
|[90.0,0.0,0.0,6.0...|  474.0|
|[200.0,0.0,1.0,6....| 1060.0|
|[80.0,0.0,1.0,14....|  530.0|
|[150.0,0.0,1.0,10...|  590.0|
|[78.8,0.0,0.0,5.0...|  425.0|
|[210.0,0.0,1.0,19...| 1135.0|
|[77.0,0.0,0.0,3.0...|  400.0|
|[140.0,0.0,1.0,16...|  485.0|
|[219.1,0.0,1.0,8....|1287.21|
|[120.0,0.0,1.0,4....|  420.0|
+--------------------+-------+
only showing top 20 rows

In [24]:
df.select("features").show(20,False)

+---------------------------------------------------------------------------------------+
|features                                                                               |
+---------------------------------------------------------------------------------------+
|[100.0,0.0,0.0,29.0,3.52,2.4,0.0,0.0,329.0,52.21,0.0,2.0,45329.0,2.0,0.0,2.0,0.0,2.0]  |
|[84.0,0.0,1.0,4.0,4.92,2.4,0.0,0.0,459.0,75.0,0.0,3.0,48282.0,3.0,2.0,3.0,0.0,3.0]     |
|[115.0,0.0,0.0,11.0,4.69,40.0,0.0,0.0,250.0,44.0,0.0,1.0,46242.0,3.0,3.0,3.0,0.0,2.0]  |
|[33.0,0.0,0.0,9.0,0.93,40.0,0.0,1.0,207.0,46.0,0.0,1.0,39218.0,2.0,0.0,2.0,0.0,2.0]    |
|[169.75,0.0,1.0,9.0,-1.89,2.4,1.0,1.0,279.74,60.55,0.0,1.0,9126.0,2.0,2.0,2.0,0.0,2.0] |
|[138.0,0.0,0.0,8.0,1.92,40.0,0.0,1.0,270.0,50.0,0.0,1.0,45888.0,2.0,0.0,2.0,0.0,2.0]   |
|[68.63,0.0,1.0,10.0,1.32,40.0,0.0,1.0,270.56,56.25,0.0,1.0,6124.0,3.0,1.0,3.0,0.0,2.0] |
|[85.5,0.0,1.0,1.0,5.51,40.0,0.0,0.0,247.0,38.0,0.0,1.0,4299.0,1.0,1.0,1.0,0.0,1.0]     |
|[118.0,0.0,0.0,4.0,3.49,40.0,0.0,1.0,320.95,55.0,0.0,2.0,46145.0,2.5,1.0,2.0,0.0,2.0]  |
|[225.0,0.0,1.0,13.0,6.93,40.0,1.0,1.0,800.0,82.0,0.0,5.0,22049.0,2.0,1.0,2.0,0.0,4.0]  |
|[90.0,0.0,0.0,6.0,5.08,2.4,0.0,0.0,294.0,54.0,0.0,1.0,25524.0,2.0,2.0,2.0,0.0,2.0]     |
|[200.0,0.0,1.0,6.0,3.78,40.0,0.0,1.0,860.0,90.0,1.0,6.0,56068.0,3.0,3.0,3.0,0.0,4.0]   |
|[80.0,0.0,1.0,14.0,2.81,2.4,0.0,1.0,350.0,70.0,0.0,2.0,8645.0,4.0,3.0,4.0,0.0,3.0]     |
|[150.0,0.0,1.0,10.0,1.95,40.0,0.0,0.0,340.0,66.0,1.0,2.0,47259.0,2.0,2.0,2.0,0.0,3.0]  |
|[78.8,0.0,0.0,5.0,1.79,40.0,0.0,0.0,271.2,54.24,1.0,1.0,45886.0,2.0,3.0,2.0,0.0,2.0]   |
|[210.0,0.0,1.0,19.0,5.06,40.0,1.0,1.0,925.0,96.9,1.0,6.0,85368.0,4.0,4.0,4.0,0.0,4.0]  |
|[77.0,0.0,0.0,3.0,1.89,40.0,0.0,1.0,258.0,59.2,0.0,1.0,9366.0,3.0,2.0,3.0,0.0,2.0]     |
|[140.0,0.0,1.0,16.0,0.19,40.0,1.0,1.0,345.0,60.0,1.0,2.0,9125.0,2.0,1.0,2.0,0.0,2.0]   |
|[219.1,0.0,1.0,8.0,1.61,10.0,1.0,0.0,1068.11,110.0,1.0,7.0,66538.0,3.0,1.0,3.0,0.0,5.0]|
|[120.0,0.0,1.0,4.0,1.11,40.0,0.0,1.0,300.0,52.0,0.0,1.0,1809.0,1.0,2.0,1.0,0.0,2.0]    |
+---------------------------------------------------------------------------------------+
only showing top 20 rows

# Dividimos el dataset para entrenamiento y prueba

In [25]:
train,test = df.randomSplit([0.8,0.2])

# Inicamos con el entrenamiento

In [26]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

## Iniciamos con el algoritmo Linear Regression

In [27]:
# Importacion de libs y operaciones
from pyspark.ml.regression import LinearRegression
lr = LinearRegression()

In [28]:
lr_model=lr.fit(train)

In [29]:
predictions_df = lr_model.transform(test)

In [30]:
# evaluacion del modelo, le llamaremos model_predictions
model_predictions = lr_model.evaluate(test)
model_predictions

### imprimimos el valor R2:

In [31]:
round(float(model_predictions.r2),5)

0.00931

### imprimimos el valor de meanSquaredError

In [32]:
round(float(model_predictions.meanSquaredError),5)

7202620.28395

## Probamos el Algoritmo Decision Tree Regressor

In [33]:
from pyspark.ml.regression import DecisionTreeRegressor

In [34]:
dec_tree = DecisionTreeRegressor()

In [35]:
dec_tree_model = dec_tree.fit(train)

In [36]:
model_predictions = dec_tree_model.transform(test)

Usamos el RegressionEvaluator

In [37]:
from pyspark.ml.evaluation import RegressionEvaluator

In [38]:
# R2 value of the model on test data 
dt_evaluator = RegressionEvaluator(metricName='r2')
dt_r2 = dt_evaluator.evaluate(model_predictions)
print(f'The r-square value of DecisionTreeRegressor is {round(float(dt_r2),3)}')

# RMSE value of the model on test data 
dt_evaluatorRMSE = RegressionEvaluator(metricName='rmse')
dt_RMSE = dt_evaluatorRMSE.evaluate(model_predictions)
print(f'The RMSE value of DecisionTreeRegressor is {round(float(dt_RMSE),3)}')

The r-square value of DecisionTreeRegressor is -4.575
The RMSE value of DecisionTreeRegressor is 6366.568

## Utilizamos el algoritmo Random Forest Regressor

In [39]:
from pyspark.ml.regression import RandomForestRegressor

# Regresor 
Rfr = RandomForestRegressor()
# Train model, le llamaremos rf_model
rf_model=Rfr.fit(train)
# model_predictions
model_predictions = rf_model.transform(test)

Observamos el reseltado

In [40]:
# R2 value of the model on test data 
dt_evaluator = RegressionEvaluator(metricName='r2')
dt_r2 = dt_evaluator.evaluate(model_predictions)
print(f'The r-square value of DecisionTreeRegressor is {round(float(dt_r2),3)}')

# RMSE value of the model on test data 
dt_evaluatorRMSE = RegressionEvaluator(metricName='rmse')
dt_RMSE = dt_evaluatorRMSE.evaluate(model_predictions)
print(f'The RMSE value of DecisionTreeRegressor is {round(float(dt_RMSE),3)}')

The r-square value of DecisionTreeRegressor is -0.634
The RMSE value of DecisionTreeRegressor is 3446.225

## Utilizamos Gradient-Boosted Tree Regressor¶

In [41]:
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor()
gbt_model=gbt.fit(train)
model_predictions = gbt_model.transform(test)

In [42]:
#Select (prediction, true label) and compute test error
# R2 value of the model on test data 
dt_evaluator = RegressionEvaluator(metricName='r2')
dt_r2 = dt_evaluator.evaluate(model_predictions)
print(f'The r-square value of DecisionTreeRegressor is {round(float(dt_r2),3)}')

# RMSE value of the model on test data 
dt_evaluatorRMSE = RegressionEvaluator(metricName='rmse')
dt_RMSE = dt_evaluatorRMSE.evaluate(model_predictions)
print(f'The RMSE value of DecisionTreeRegressor is {round(float(dt_RMSE),3)}')

The r-square value of DecisionTreeRegressor is -60.553
The RMSE value of DecisionTreeRegressor is 21154.393

## Utilizamos Isotonic regression

In [43]:
from pyspark.ml.regression import IsotonicRegression
ir_model = IsotonicRegression().fit(train)
model_predictions = ir_model.transform(test)

In [44]:
#Select (prediction, true label) and compute test error
# R2 value of the model on test data 
dt_evaluator = RegressionEvaluator(metricName='r2')
dt_r2 = dt_evaluator.evaluate(model_predictions)
print(f'The r-square value of DecisionTreeRegressor is {round(float(dt_r2),3)}')

# RMSE value of the model on test data 
dt_evaluatorRMSE = RegressionEvaluator(metricName='rmse')
dt_RMSE = dt_evaluatorRMSE.evaluate(model_predictions)
print(f'The RMSE value of DecisionTreeRegressor is {round(float(dt_RMSE),3)}')

The r-square value of DecisionTreeRegressor is -0.002
The RMSE value of DecisionTreeRegressor is 2698.949

In [45]:
end = time.time()
print("Tiempo Transcurrido en minutos: ",(end-start)/60)

Tiempo Transcurrido en minutos:  2.1971632997194925

# Conclusión

Las pruebas se realizaron con un dataset 30% para validación y 70% para entrenamiento con un total de 168609 registros


Como se puede observar con el algoritmo Isotonic Regression presenta un resultado muy deficiente, 

En cuanto a los modelos  Gradient-Boosted Tree Regressor y Decision Tree Regressor el R_2 presenta un muy buen resultado, sin ser mayormente intervenido con hyperparametros por lo cual se descartan pensando que presentan overfitting

Para el caso de los modelos con los algoritmos Random Forest Regressor y Linear Regression presentan el resultado R_2 con un resultado elevado pero no tanto como los mencionadas anteriormente.

Por lo tanto se realizara en otra Jupyternote la optimización del algortimo Random Forest Regressor, que es un algoritmo mas complejo que puede permitir una mejor modelo de predicción