Estudiante - Jason Solano

Comenzamos con la importación de librerías y demás parámetros necesarios...

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('data_processing').getOrCreate()

import pyspark.sql.functions as F
from pyspark.sql.types import *

Nombre de la estructura o base de datos dentro del appName

In [140]:
import findspark
findspark.init('/opt/spark')

from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format, udf 
from pyspark.sql.types import DateType
from pyspark import SparkConf                                                                                                                 
from pyspark.context import SparkContext                                                                                                      
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql import SparkSession, functions as F

Leemos el archivo

In [48]:
df = spark.read.csv('AB_NYC_2019.csv',header=True, inferSchema =True)

In [49]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

El dataset trata de habitaciones o apartamentos disponibles en airbnb para el estado de New York

**Operaciones especiales**

De acuerdo al profesor deben haber al menos 3

1) Convertir formatos en columnas

El problema es que la columna price esta en string, para facilitar las operaciones es necesario convertir dicha columna a formato integer

In [54]:
changedTypedf = df.withColumn("price", df["price"].cast(IntegerType()))

In [94]:
changedTypedf = df.withColumn("number_of_reviews", df["number_of_reviews"].cast(IntegerType()))

In [131]:
changedTypedf = df.withColumn("reviews_per_month", df["reviews_per_month"].cast(IntegerType()))

In [132]:
changedTypedf.printSchema()
df = changedTypedf

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: integer (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

In [96]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

2) sort command

Muchas veces se requiere ordenar la información, como el siguiente caso donde ordenamos el count, para observar el precio mas común en el dataset de airbnb

In [69]:
changedTypedf.groupBy('price').count().sort(col("count").desc()).show()

+-----+-----+
|price|count|
+-----+-----+
|  100| 2047|
|  150| 2042|
|   50| 1529|
|   60| 1455|
|  200| 1400|
|   75| 1365|
|   80| 1271|
|   65| 1182|
|   70| 1167|
|  120| 1125|
|  125| 1056|
|   90| 1021|
|  250| 1015|
|   55|  944|
|   45|  886|
|   85|  876|
|   40|  769|
|  175|  761|
|   99|  738|
|  110|  737|
+-----+-----+
only showing top 20 rows

3) Uso de exprecciones regulares

Usamos el comando like, para filtar todas los neighbourhood que contienen un digito

In [163]:
df.where(col('neighbourhood').like("%d%")).show()

+-----+--------------------+-------+---------------+-------------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|   id|                name|host_id|      host_name|neighbourhood_group|       neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+-----+--------------------+-------+---------------+-------------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| 2595|Skylit Midtown Ca...|   2845|       Jennifer|          Manhattan|             Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|                0|                             2|             355|
| 5121|     BlissArtsSpace!|   7356|          Garon|           Brooklyn|  Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49| 2017-10-05|                0|                             1|               0|
| 5203|Cozy Clean Guest ...|   7490|      MaryEllen|          Manhattan|     Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118| 2017-07-21|                0|                             1|               0|
| 5295|Beautiful 1br on ...|   7702|           Lena|          Manhattan|     Upper West Side|40.80316|-73.96545|Entire home/apt|  135|             5|               53| 2019-06-22|                0|                             1|               6|
| 6021|Wonderful Guest B...|  11528|        Claudio|          Manhattan|     Upper West Side|40.79826|-73.96113|   Private room|   85|             2|              113| 2019-07-05|                0|                             1|             333|
| 8490|MAISON DES SIRENE...|  25183|       Nathalie|           Brooklyn|  Bedford-Stuyvesant|40.68371|-73.94028|Entire home/apt|  120|             2|               88| 2019-06-19|                0|                             2|             233|
| 8505|Sunny Bedroom Acr...|  25326|        Gregory|           Brooklyn|     Windsor Terrace|40.65599|-73.97519|   Private room|   60|             1|               19| 2019-06-23|                1|                             2|              85|
| 8700|Magnifique Suite ...|  26394|Claude & Sophie|          Manhattan|              Inwood|40.86754|-73.92639|   Private room|   80|             4|                0|       null|             null|                             1|               0|
| 9518|SPACIOUS, LOVELY ...|  31374|           Shon|          Manhattan|              Inwood|40.86482|-73.92106|   Private room|   44|             3|              108| 2019-06-15|                1|                             3|             311|
|10452|Large B&B Style r...|  35935|         Angela|           Brooklyn|  Bedford-Stuyvesant| 40.6831|-73.95473|   Private room|   70|             1|               74| 2019-05-12|                0|                             2|             269|
|11452|Clean and Quiet i...|   7355|             Vt|           Brooklyn|  Bedford-Stuyvesant|40.68876|-73.94312|   Private room|   35|            60|                0|       null|             null|                             1|             365|
|12048|LowerEastSide apt...|   7549|            Ben|          Manhattan|     Lower East Side|40.71401|-73.98917|    Shared room|   40|             1|              214| 2019-07-05|                1|                             4|             188|
|12318|   West Side Retreat|  16800|            Cyn|          Manhattan|     Upper West Side|40.79009|-73.97927|   Private room|  135|             4|               81| 2019-06-16|                0|                             1|             273|
|12627|Entire apartment ...|  49670|           Rana|           Brooklyn|Prospect-Lefferts...|40.65944|-73.96238|Entire home/apt|  150|            29|               11| 2019-06-05|                0|                             1|              95|
|12937|1 Stop fr. Manhat...|  50124|        Orestes|             Queens|    Long Island City|40.74771| -73.9474|   Private room|  130|             3|              248| 2019-07-01|                2|                             1|             215|
|12940|Charming Brownsto...|  50148|       Adreinne|           Brooklyn|  Bedford-Stuyvesant|40.68111|-73.95591|Entire home/apt|  110|             7|               61| 2019-05-25|                0|                             1|             265|
|13050|bright and stylis...|  50846|       Jennifer|           Brooklyn|  Bedford-Stuyvesant|40.68554| -73.9409|Entire home/apt|  115|             3|               11| 2017-01-01|                0|                             1|               0|
|13808|Blue Room for 2 i...|  54275| JT And Tiziana|           Brooklyn|  Bedford-Stuyvesant|40.68043|-73.93934|   Private room|   80|             1|              112| 2019-06-16|                1|                             3|             251|
|14287|Cozy 1BD on Centr...|  56094|           Joya|          Manhattan|     Upper West Side|40.78635|-73.97008|Entire home/apt|  151|             2|               73| 2019-07-07|                0|                             1|             302|
|14991|Great Location, M...|  59023|         Bianca|          Manhattan|     Lower East Side|40.72004|-73.99104|   Private room|  110|             5|               19| 2019-05-18|                0|                             1|             301|
+-----+--------------------+-------+---------------+-------------------+--------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

**Operaciones insight**

De acuerdo al profesor deben haber al menos 5

1) Analicemos la cantidad de reviews de acorde a la cantidad al precio mas popular con la

In [112]:
df.filter((df['price'] == 100) & (df['number_of_reviews'] > 0)).count()

1517

In [114]:
df.filter((df['price'] == 120) & (df['number_of_reviews'] > 0)).count()

919

Por lo cual podemos observar que los hots que cobran 100 dolares que es el precio mas común, tienen mas reviees que la mediana de los 20 datos mostrados en la consulta anterior.

2) Ahora veamos los precios con mayor cantidad de reviews

In [124]:
df.select(['price','number_of_reviews']).sort(col("number_of_reviews").desc()).show()

+-----+-----------------+
|price|number_of_reviews|
+-----+-----------------+
|   47|              629|
|   49|              607|
|   49|              597|
|   49|              594|
|   47|              576|
|   46|              543|
|   99|              540|
|   48|              510|
|  160|              488|
|   60|              480|
|   55|              474|
|  120|              467|
|   65|              466|
|   45|              459|
|   60|              458|
|   39|              454|
|   72|              451|
|   45|              448|
|  575|              447|
|   99|              441|
+-----+-----------------+
only showing top 20 rows

Se puede interpretar que precios menores a 100 dolares tienden a tener menor cantidad de reviews

3) Veamos los barrios que tienen los precios mas caros

In [125]:
df.select(['price','neighbourhood']).sort(col("price").desc()).show()

+-----+-----------------+
|price|    neighbourhood|
+-----+-----------------+
|10000|          Astoria|
|10000|  Upper West Side|
|10000|       Greenpoint|
| 9999|  Lower East Side|
| 9999|  Lower East Side|
| 9999|      East Harlem|
| 8500|          Tribeca|
| 8000|     Clinton Hill|
| 7703|  Upper East Side|
| 7500|Battery Park City|
| 7500|    East Flatbush|
| 6800|          Chelsea|
| 6500|     Clinton Hill|
| 6500|          Tribeca|
| 6419|  Upper East Side|
| 6000|  Upper West Side|
| 6000|Greenwich Village|
| 5250|     Little Italy|
| 5100|          Midtown|
| 5000|    Randall Manor|
+-----+-----------------+
only showing top 20 rows

4) Ahora veamos cual es la media de precio mas alta para cada barrio

In [130]:
df.groupBy('neighbourhood').agg(F.mean('price')).sort(col('avg(price)').desc()).show()

+------------------+------------------+
|     neighbourhood|        avg(price)|
+------------------+------------------+
|    Fort Wadsworth|             800.0|
|           Woodrow|             700.0|
|          Sea Gate| 548.3333333333334|
|           Tribeca|  490.638418079096|
|         Riverdale|442.09090909090907|
|      Prince's Bay|             409.5|
| Battery Park City| 367.5571428571429|
|     Randall Manor|352.94444444444446|
| Flatiron District|           341.925|
|              NoHo|297.85526315789474|
|              SoHo| 287.2773109243698|
|           Midtown| 282.7839065541856|
|          Neponsit| 274.6666666666667|
|      West Village| 267.6958224543081|
| Greenwich Village| 263.3205128205128|
|           Chelsea| 249.7785778577858|
|       Willowbrook|             249.0|
|  Theater District|248.01388888888889|
|            Nolita|230.13833992094862|
|Financial District|225.49059139784947|
+------------------+------------------+
only showing top 20 rows

De forma curiosa vemos que los barrios

|10000|          Astoria|

|10000|  Upper West Side|

|10000|       Greenpoint

que tienen las rentas mas altas, no estan con las medias mas altas

5) Veamos la realacion entre reviews por mes para los barrios

In [134]:
df.groupBy('price').agg(F.mean('reviews_per_month')).sort(col('avg(reviews_per_month)').desc()).show()

+-----+----------------------+
|price|avg(reviews_per_month)|
+-----+----------------------+
|  539|                   7.0|
|  515|                   6.0|
| 7500|                   6.0|
|  336|                   5.0|
|   13|                   5.0|
|  323|                   5.0|
|  442|                   4.0|
|  843|                   4.0|
|  443|                   4.0|
| 2990|                   4.0|
|  692|                   4.0|
|  474|                   4.0|
|  313|                   4.0|
|  945|                   3.5|
|  412|                   3.5|
|    1|     3.482142857142857|
|  294|    3.3333333333333335|
|  201|                 3.125|
|    5|                   3.0|
|  347|                   3.0|
+-----+----------------------+
only showing top 20 rows

De forma curiosa se puede observar que se reciben mas revies por mes en precios mayores a 100 dolares